.actual-weather-condytion-dark{
      -webkit-backdrop-filter: blur(29px);
      backdrop-filter: blur(29px);
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
      margin: 3vh;
      width: 80vw;
      height: 40vh;
      border-radius: 50px;
      border: solid 1px white;
     
      
}
.actual-weather-condytion-dark div{
     
      width: 40vw;
      height: 20vh;
      text-align: center;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: rgb(58, 58, 58);
}
.actual-weather-condytion-dark div h3{
padding:1vh;
font-size: 1.2rem;
      
}

.actual-weather-condytion-dark img{
      padding-top: 2vh;
      width: 10vw;
      filter: invert(50%)
}
.actual-weather-condytion-dark div p{
      font-size: 1.1rem;
      font-weight: 600;

}


.forecast-dark{
      padding-top: 4vh;
      width: max-content
}
.forecast-dark div {
      padding: 4vh;
      align-items: center;
      display: flex;
      height: 5vh;
      margin: 3vh;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: white;
      border-radius: 10vh;
      -webkit-backdrop-filter: blur(30px);
      backdrop-filter: blur(30px);
      border: solid 1px;
      
}
.forecast-dark p{
     text-align: right;
      margin-right: 10vw;
      
}


